version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: deps
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./:/app:cached
      - /app/node_modules
    working_dir: /app
    command: npm run dev
    environment:
      - NODE_ENV=development
      # Garante que o next saiba onde buscar a API
      - NEXT_PUBLIC_BACKEND_URL=${NEXT_PUBLIC_BACKEND_URL:-http://localhost:3001}
    restart: unless-stopped