@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #2e2e2e;
  --primary: #7439FA;
  --light: #9F73FF;
  --dark: #4B0FCC;
  --contrast: #FF8A00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #7439FA;
  --color-softWhite: #fafafaa9;
  --font-sans: var(--font-inter);
}

body {
  background: var(--background) !important;
  color: var(--foreground);
  font-family: var(--font-inter);
  font-size: 1rem;
}

.form-card-grid {
  @apply border border-neutral-300 p-4 md:p-6 rounded-xl grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3;
}